@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@75..125,100..900&family=Lexend:wght@100..900&display=swap");
html,
body {
  height: 100%;
  font-size: 16px;
  margin: 0;
}
#root {
  height: 100%;
}
